In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cars.csv')

In [4]:
df.sample(5)

         brand  km_driven    fuel         owner  selling_price
6091    Maruti      40000  Petrol   First Owner         245000
1078     Lexus      20000  Petrol   First Owner        5150000
7927      Ford      25000  Petrol   First Owner         690000
2445   Hyundai      23000  Petrol  Second Owner         348000
3465  Mahindra      52269  Diesel   First Owner        1100000

In [5]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [6]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

### FOR DATA ANALYSIS

In [13]:
pd.get_dummies(df, columns=['fuel', 'owner'], dtype=int).sample(5)

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
394,Toyota,240000,250000,0,1,0,0,0,0,0,0,1
5658,Honda,72000,560000,0,1,0,0,1,0,0,0,0
466,Chevrolet,110000,420000,0,1,0,0,0,0,1,0,0
444,Maruti,70000,120000,0,0,0,1,0,0,1,0,0
5464,Maruti,135000,300000,0,1,0,0,0,0,1,0,0

In [15]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True, dtype=int).sample(5)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
5093,Maruti,5621,650000,0,0,1,0,0,0,0
4883,Skoda,98000,455000,1,0,0,0,0,0,0
5282,Volkswagen,70000,350000,1,0,0,0,1,0,0
1806,Maruti,62000,60000,0,0,1,0,1,0,0
6678,Renault,20000,220000,0,0,1,0,0,0,0

### FOR MACHINE LEARNING

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, 0:4], df.iloc[:, -1], test_size=0.2, random_state=0)

In [18]:
X_train.head()

         brand  km_driven    fuel         owner
3042   Hyundai      60000     LPG   First Owner
1520      Tata     150000  Diesel   Third Owner
2611   Hyundai     110000  Diesel  Second Owner
3544  Mahindra      28000  Diesel  Second Owner
4138    Maruti      15000  Petrol   First Owner

In [25]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32)
# Sparse False because it will return a dense numpy array instead of a sparse matrix

In [26]:
ohe

OneHotEncoder(drop='first', dtype=<class 'numpy.int32'>, sparse_output=False)

In [29]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']])
X_test_new = ohe.transform(X_test[['fuel','owner']])
X_train_new

array([[0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 1, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]], dtype=int32)

In [30]:
X_train_new.shape

(6502, 7)

In [28]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new))

array([['Hyundai', 60000, 0, ..., 0, 0, 0],
       ['Tata', 150000, 1, ..., 0, 0, 1],
       ['Hyundai', 110000, 1, ..., 1, 0, 0],
       ...,
       ['Hyundai', 90000, 0, ..., 1, 0, 0],
       ['Volkswagen', 90000, 1, ..., 0, 0, 0],
       ['Hyundai', 110000, 0, ..., 0, 0, 0]], dtype=object)

In [31]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [32]:
counts = df['brand'].value_counts()

In [35]:
df['brand'].nunique()
threshold = 100
repl = counts[counts <= threshold].index
pd.get_dummies(df['brand'].replace(repl, 'uncommon'), dtype = int).sample(5)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
6187,0,0,0,0,0,0,1,0,0,0,0,0,0
5813,0,0,0,0,1,0,0,0,0,0,0,0,0
504,0,0,0,0,0,0,0,0,0,1,0,0,0
6230,0,0,0,0,0,0,1,0,0,0,0,0,0
2583,0,0,0,0,1,0,0,0,0,0,0,0,0