In [33]:
import numpy as np
import pandas as pd

In [34]:
df = pd.read_csv('customer.csv')

In [35]:
df = df.iloc[:, 2:]

In [36]:
df.sample(5)

     review education purchased
12     Poor    School        No
45     Poor        PG       Yes
32  Average        UG       Yes
7      Poor    School       Yes
3      Good        PG        No

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, 0:2], df.iloc[:, -1], test_size=0.2)

In [38]:
X_train.sample(3)

     review education
18     Good    School
37  Average        PG
10     Good        UG

In [39]:
y_train.sample(3)

21    No
8     No
30    No
Name: purchased, dtype: object

In [40]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
oe.fit(X_train)
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [41]:
X_train

array([[0., 2.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [1., 0.],
       [2., 2.],
       [0., 0.],
       [1., 0.],
       [1., 1.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [0., 1.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [0., 1.],
       [2., 0.],
       [0., 0.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [1., 2.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [2., 2.],
       [0., 2.],
       [1., 2.]])

In [42]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y_train)
y_train = le.transform(y_train)
y_test = le.transform(y_test)
y_train

array([1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1])